In [1]:
import selenium
from selenium import webdriver
from urllib.parse import quote
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import string
import matplotlib.pyplot as plt
%matplotlib inline
import platform
from scipy.stats import *
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows': 
    # 윈도우   
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')

In [3]:
data = pd.read_csv('./final/굴_최종(0421)')

In [6]:
data = data.drop(['Unnamed: 0'],axis=1)

In [7]:
data_raw = data.copy()

In [9]:
group = data.groupby(['date'])
grouped = group.agg({'qty':'sum','1kg price':'mean','temp':'mean'}).round(2)

In [10]:
grouped

               qty  1kg price   temp
date
2006-04-04   978.3    4948.71  11.10
2006-04-05  4600.7    4657.56  11.59
2006-04-06  3842.2    4684.90  11.82
2006-04-07  4777.3    4175.11  11.99
2006-04-08  4773.5    4668.08  12.00
...            ...        ...    ...
2021-04-03   561.4    4642.59  13.30
2021-04-05   421.1    6149.90  13.24
2021-04-06   290.7    7161.38  13.32
2021-04-07   399.9    7290.73  13.49
2021-04-08   418.7    8752.01  13.58

[4602 rows x 3 columns]

In [34]:
pd.set_option('display.max_row', 1029)

In [35]:
data[(data['temp'].isnull())]

,from,date,qty,1kg price,temp,DO_test,year,month,day,date2
152,통영,2006-1-02,4619.8,5596.18,NaN,NaN,2006,1,2,2006-1
153,통영,2006-1-03,2239.0,7290.32,NaN,NaN,2006,1,3,2006-1
154,통영,2006-1-04,3267.7,9355.00,NaN,NaN,2006,1,4,2006-1
155,통영,2006-1-05,3300.3,9169.49,NaN,NaN,2006,1,5,2006-1
156,통영,2006-1-09,2516.9,8579.53,NaN,NaN,2006,1,9,2006-1
157,통영,2006-1-10,2816.5,6841.53,NaN,NaN,2006,1,10,2006-1
158,통영,2006-1-11,2260.3,6445.94,NaN,NaN,2006,1,11,2006-1
159,통영,2006-1-12,3450.5,5111.03,NaN,NaN,2006,1,12,2006-1
160,통영,2006-1-13,2418.1,5113.98,NaN,NaN,2006,1,13,2006-1
161,통영,2006-1-14,4239.8,4551.33,NaN,NaN,2006,1,14,2006-1
162,통영,2006-1-16,4077.1,3989.40,NaN,NaN,2006,1,16,2006-1
163,통영,2006-1-17,2532.7,4611.15,NaN,NaN,2006,1,17,2006-1
164,통영,2006-1-18,5109.7,4344.16,NaN,NaN,2006,1,18,2006-1
165,통영,2006-1-19,4275.7,4138.57,NaN,NaN,2006,1,19,2006-1
166,통영,2006-1-20,3438.9,3950.24,NaN,NaN,2006,1,20,2006-1
167,통영,2006-1-21,3951.9,4568.96,NaN,NaN,2006,1,21,2006-1
168,통영,2006-1-23,7736.6,4135.05,NaN,NaN,2006,1,23,2006-1
169,통영,2006-1-24,4826.0,4513.07,NaN,NaN,2006,1,24,2006-1
170,통영,2006-1-25,5496.1,4330.86,NaN,NaN,2006,1,25,2006-1
171,통영,2006-1-26,4125.8,4625.93,NaN,NaN,2006,1,26,2006-1
172,통영,2006-1-27,4891.3,6058.54,NaN,NaN,2006,1,27,2006-1
173,통영,2006-1-28,7382.9,6926.86,NaN,NaN,2006,1,28,2006-1
174,통영,2006-1-30,10598.4,6046.31,NaN,NaN,2006,1,30,2006-1
175,통영,2006-1-31,3077.2,6569.07,NaN,NaN,2006,1,31,2006-1
456,통영,2007-1-01,2357.0,4721.63,NaN,NaN,2007,1,1,2007-1
457,통영,2007-1-02,1902.9,4433.71,NaN,NaN,2007,1,2,2007-1
458,통영,2007-1-03,2278.0,4376.80,NaN,NaN,2007,1,3,2007-1
459,통영,2007-1-04,2713.7,3883.80,NaN,NaN,2007,1,4,2007-1
460,통영,2007-1-05,2248.5,4089.95,NaN,NaN,2007,1,5,2007-1
461,통영,2007-1-06,1855.3,3952.19,NaN,NaN,2007,1,6,2007-1
462,통영,2007-1-08,3792.5,3792.74,NaN,NaN,2007,1,8,2007-1
463,통영,2007-1-09,3178.5,4134.64,NaN,NaN,2007,1,9,2007-1
464,통영,2007-1-10,2725.3,4448.50,NaN,NaN,2007,1,10,2007-1
465,통영,2007-1-11,2298.1,4895.55,NaN,NaN,2007,1,11,2007-1
466,통영,2007-1-12,4075.9,4503.01,NaN,NaN,2007,1,12,2007-1
467,통영,2007-1-13,5035.1,4798.51,NaN,NaN,2007,1,13,2007-1
468,통영,2007-1-15,7057.6,3869.74,NaN,NaN,2007,1,15,2007-1
469,통영,2007-1-16,3813.7,3751.07,NaN,NaN,2007,1,16,2007-1
470,통영,2007-1-17,3718.6,3697.66,NaN,NaN,2007,1,17,2007-1
471,통영,2007-1-18,3389.9,3686.27,NaN,NaN,2007,1,18,2007-1
472,통영,2007-1-19,4369.9,3638.21,NaN,NaN,2007,1,19,2007-1
473,통영,2007-1-20,6948.3,3660.07,NaN,NaN,2007,1,20,2007-1
474,통영,2007-1-22,8024.8,3652.80,NaN,NaN,2007,1,22,2007-1
475,통영,2007-1-23,4490.8,4138.54,NaN,NaN,2007,1,23,2007-1
476,통영,2007-1-24,4833.4,4249.63,NaN,NaN,2007,1,24,2007-1
477,통영,2007-1-25,5165.9,4394.61,NaN,NaN,2007,1,25,2007-1
478,통영,2007-1-26,6289.3,4523.51,NaN,NaN,2007,1,26,2007-1
479,통영,2007-1-27,8692.0,4827.47,NaN,NaN,2007,1,27,2007-1
480,통영,2007-1-29,11663.5,4135.72,NaN,NaN,2007,1,29,2007-1
481,통영,2007-1-30,3334.1,4657.95,NaN,NaN,2007,1,30,2007-1
482,통영,2007-1-31,5943.3,4449.99,NaN,NaN,2007,1,31,2007-1
765,통영,2008-1-01,1771.7,8971.26,NaN,NaN,2008,1,1,2008-1
766,통영,2008-1-02,1765.9,9385.81,NaN,NaN,2008,1,2,2008-1
767,통영,2008-1-03,2325.8,7960.32,NaN,NaN,2008,1,3,2008-1
768,통영,2008-1-04,1235.2,9057.94,NaN,NaN,2008,1,4,2008-1
769,통영,2008-1-06,2570.0,9228.93,NaN,NaN,2008,1,6,2008-1
770,통영,2008-1-07,2443.7,8334.30,NaN,NaN,2008,1,7,2008-1
771,통영,2008-1-08,2804.0,7002.64,NaN,NaN,2008,1,8,2008-1
772,통영,2008-1-09,2903.5,6151.86,NaN,NaN,2008,1,9,2008-1
773,통영,2008-1-10,2750.2,6091.56,NaN,NaN,2008,1,10,2008-1
774,통영,2008-1-11,4084.1,5414.33,NaN,NaN,2008,1,11,2008-1
775,통영,2008-1-13,5418.6,4918.85,NaN,NaN,2008,1,13,2008-1
776,통영,2008-1-14,2281.6,5408.92,NaN,NaN,2008,1,14,2008-1
777,통영,2008-1-15,3084.7,6332.37,NaN,NaN,2008,1,15,2008-1
778,통영,2008-1-16,4276.1,5254.84,NaN,NaN,2008,1,16,2008-1
779,통영,2008-1-17,4619.2,4873.61,NaN,NaN,2008,1,17,2008-1
780,통영,2008-1-18,5906.0,5039.20,NaN,NaN,2008,1,18,2008-1
781,통영,2008-1-20,6420.0,4512.16,NaN,NaN,2008,1,20,2008-1
782,통영,2008-1-21,3439.6,5093.36,NaN,NaN,2008,1,21,2008-1
783,통영,2008-1-22,5122.4,4790.36,NaN,NaN,2008,1,22,2008-1
784,통영,2008-1-23,3955.7,4952.46,NaN,NaN,2008,1,23,2008-1
785,통영,2008-1-24,5693.9,5171.17,NaN,NaN,2008,1,24,2008-1
786,통영,2008-1-25,5569.4,5201.95,NaN,NaN,2008,1,25,2008-1
787,통영,2008-1-27,7764.8,6186.44,NaN,NaN,2008,1,27,2008-1
788,통영,2008-1-28,8547.5,6031.53,NaN,NaN,2008,1,28,2008-1
789,통영,2008-1-29,5823.1,6425.94,NaN,NaN,2008,1,29,2008-1
790,통영,2008-1-30,6292.9,6622.14,NaN,NaN,2008,1,30,2008-1
791,통영,2008-1-31,10314.3,6416.24,NaN,NaN,2008,1,31,2008-1
1075,통영,2009-1-01,3086.5,7824.65,NaN,NaN,2009,1,1,2009-1
1076,통영,2009-1-02,1648.4,9833.23,NaN,NaN,2009,1,2,2009-1
1077,통영,2009-1-06,2259.7,9766.78,NaN,NaN,2009,1,6,2009-1
1078,통영,2009-1-07,1882.2,9333.98,NaN,NaN,2009,1,7,2009-1
1079,통영,2009-1-08,2195.4,8247.33,NaN,NaN,2009,1,8,2009-1
1080,통영,2009-1-09,2186.5,7137.17,NaN,NaN,2009,1,9,2009-1
1081,통영,2009-1-10,1976.7,7436.35,NaN,NaN,2009,1,10,2009-1
1082,통영,2009-1-12,2258.5,9232.60,NaN,NaN,2009,1,12,2009-1
1083,통영,2009-1-13,2578.7,8438.32,NaN,NaN,2009,1,13,2009-1
1084,통영,2009-1-14,3101.0,7941.15,NaN,NaN,2009,1,14,2009-1
1085,통영,2009-1-15,4209.8,6667.25,NaN,NaN,2009,1,15,2009-1
1086,통영,2009-1-16,2563.7,6810.95,NaN,NaN,2009,1,16,2009-1
1087,통영,2009-1-17,3441.5,6807.88,NaN,NaN,2009,1,17,2009-1
1088,통영,2009-1-19,6564.2,6584.56,NaN,NaN,2009,1,19,2009-1
1089,통영,2009-1-20,4838.8,6579.78,NaN,NaN,2009,1,20,2009-1
1090,통영,2009-1-21,5828.4,6249.37,NaN,NaN,2009,1,21,2009-1
1091,통영,2009-1-22,4859.7,6467.32,NaN,NaN,2009,1,22,2009-1
1092,통영,2009-1-23,4584.8,6834.07,NaN,NaN,2009,1,23,2009-1
1093,통영,2009-1-24,4343.0,7545.75,NaN,NaN,2009,1,24,2009-1
1094,통영,2009-1-26,6855.6,7628.81,NaN,NaN,2009,1,26,2009-1
1095,통영,2009-1-27,4314.3,7734.57,NaN,NaN,2009,1,27,2009-1
1096,통영,2009-1-28,4887.9,7775.33,NaN,NaN,2009,1,28,2009-1
1097,통영,2009-1-29,5290.6,8384.61,NaN,NaN,2009,1,29,2009-1
1098,통영,2009-1-30,5673.2,8512.20,NaN,NaN,2009,1,30,2009-1
1099,통영,2009-1-31,5258.9,8927.55,NaN,NaN,2009,1,31,2009-1
1381,통영,2010-1-01,1736.4,5933.84,NaN,NaN,2010,1,1,2010-1
1382,통영,2010-1-02,1900.3,5522.87,NaN,NaN,2010,1,2,2010-1
1383,통영,2010-1-04,2167.6,5313.88,NaN,NaN,2010,1,4,2010-1
1384,통영,2010-1-05,900.9,5399.32,NaN,NaN,2010,1,5,2010-1
1385,통영,2010-1-06,1002.1,5884.55,NaN,NaN,2010,1,6,2010-1
1386,통영,2010-1-07,1685.9,6813.53,NaN,NaN,2010,1,7,2010-1
1387,통영,2010-1-08,2287.7,6563.28,NaN,NaN,2010,1,8,2010-1
1388,통영,2010-1-09,2144.3,6523.13,NaN,NaN,2010,1,9,2010-1
1389,통영,2010-1-11,2276.0,7156.52,NaN,NaN,2010,1,11,2010-1
1390,통영,2010-1-12,2002.5,7116.31,NaN,NaN,2010,1,12,2010-1
1391,통영,2010-1-13,1512.7,6895.23,NaN,NaN,2010,1,13,2010-1
1392,통영,2010-1-14,862.9,7817.72,NaN,NaN,2010,1,14,2010-1
1393,통영,2010-1-15,2346.8,8751.29,NaN,NaN,2010,1,15,2010-1
1394,통영,2010-1-16,3924.1,6978.60,NaN,NaN,2010,1,16,2010-1
1395,통영,2010-1-18,5561.7,7251.14,NaN,NaN,2010,1,18,2010-1
1396,통영,2010-1-19,4584.9,6597.01,NaN,NaN,2010,1,19,2010-1
1397,통영,2010-1-20,3426.6,6290.64,NaN,NaN,2010,1,20,2010-1
1398,통영,2010-1-21,1920.0,6224.39,NaN,NaN,2010,1,21,2010-1
1399,통영,2010-1-22,3338.9,6400.47,NaN,NaN,2010,1,22,2010-1
1400,통영,2010-1-23,4837.9,6134.12,NaN,NaN,2010,1,23,2010-1
1401,통영,2010-1-25,6068.1,5953.41,NaN,NaN,2010,1,25,2010-1
1402,통영,2010-1-26,3622.7,6138.31,NaN,NaN,2010,1,26,2010-1
1403,통영,2010-1-27,4254.3,6667.61,NaN,NaN,2010,1,27,2010-1
1404,통영,2010-1-28,4503.8,7359.71,NaN,NaN,2010,1,28,2010-1
1405,통영,2010-1-29,5559.2,8632.80,NaN,NaN,2010,1,29,2010-1
1406,통영,2010-1-30,6880.7,9252.47,NaN,NaN,2010,1,30,2010-1
1687,통영,2011-1-01,1341.2,7512.99,NaN,NaN,2011,1,1,2011-1
1688,통영,2011-1-03,1845.0,8525.42,NaN,NaN,2011,1,3,2011-1
1689,통영,2011-1-04,1306.5,8912.99,NaN,NaN,2011,1,4,2011-1
1690,통영,2011-1-05,1358.7,9940.23,NaN,NaN,2011,1,5,2011-1
1691,통영,2011-1-06,1848.9,10453.41,NaN,NaN,2011,1,6,2011-1
1692,통영,2011-1-07,2674.6,9360.54,NaN,NaN,2011,1,7,2011-1
1693,통영,2011-1-08,1787.5,9148.21,NaN,NaN,2011,1,8,2011-1
1694,통영,2011-1-10,2244.6,8826.70,NaN,NaN,2011,1,10,2011-1
1695,통영,2011-1-11,1912.7,8778.31,NaN,NaN,2011,1,11,2011-1
1696,통영,2011-1-12,2064.4,7942.30,NaN,NaN,2011,1,12,2011-1
1697,통영,2011-1-13,2107.6,8034.22,NaN,NaN,2011,1,13,2011-1
1698,통영,2011-1-14,2399.3,8126.89,NaN,NaN,2011,1,14,2011-1
1699,통영,2011-1-15,2507.2,8108.48,NaN,NaN,2011,1,15,2011-1
1700,통영,2011-1-17,6342.1,6665.09,NaN,NaN,2011,1,17,2011-1
1701,통영,2011-1-18,2805.9,6696.53,NaN,NaN,2011,1,18,2011-1
1702,통영,2011-1-19,3171.7,6851.99,NaN,NaN,2011,1,19,2011-1
1703,통영,2011-1-20,2869.3,7761.92,NaN,NaN,2011,1,20,2011-1
1704,통영,2011-1-21,3683.9,7875.13,NaN,NaN,2011,1,21,2011-1
1705,통영,2011-1-22,3251.1,7469.12,NaN,NaN,2011,1,22,2011-1
1706,통영,2011-1-24,3423.1,8030.77,NaN,NaN,2011,1,24,2011-1
1707,통영,2011-1-25,2048.9,8895.23,NaN,NaN,2011,1,25,2011-1
1708,통영,2011-1-26,5009.7,8300.02,NaN,NaN,2011,1,26,2011-1
1709,통영,2011-1-27,4766.0,7155.01,NaN,NaN,2011,1,27,2011-1
1710,통영,2011-1-28,3803.8,7358.70,NaN,NaN,2011,1,28,2011-1
1711,통영,2011-1-29,5325.6,6459.14,NaN,NaN,2011,1,29,2011-1
1712,통영,2011-1-31,4787.8,6222.60,NaN,NaN,2011,1,31,2011-1
1998,통영,2012-1-03,2349.1,6902.08,NaN,NaN,2012,1,3,2012-1
1999,통영,2012-1-04,914.7,7083.29,NaN,NaN,2012,1,4,2012-1
2000,통영,2012-1-05,1144.4,7525.71,NaN,NaN,2012,1,5,2012-1
2001,통영,2012-1-06,1681.7,6999.13,NaN,NaN,2012,1,6,2012-1
2002,통영,2012-1-08,2746.0,5444.28,NaN,NaN,2012,1,8,2012-1
2003,통영,2012-1-09,951.4,6354.62,NaN,NaN,2012,1,9,2012-1
2004,통영,2012-1-10,1790.3,5144.68,NaN,NaN,2012,1,10,2012-1
2005,통영,2012-1-11,1586.1,6283.49,NaN,NaN,2012,1,11,2012-1
2006,통영,2012-1-12,2073.7,7054.74,NaN,NaN,2012,1,12,2012-1
2007,통영,2012-1-13,3121.5,7314.31,NaN,NaN,2012,1,13,2012-1
2008,통영,2012-1-15,2599.0,9135.21,NaN,NaN,2012,1,15,2012-1
2009,통영,2012-1-16,3042.4,7972.79,NaN,NaN,2012,1,16,2012-1
2010,통영,2012-1-17,3817.5,7012.61,NaN,NaN,2012,1,17,2012-1
2011,통영,2012-1-18,3878.1,6263.79,NaN,NaN,2012,1,18,2012-1
2012,통영,2012-1-19,2907.1,6034.11,NaN,NaN,2012,1,19,2012-1
2013,통영,2012-1-20,3576.0,7137.84,NaN,NaN,2012,1,20,2012-1
2014,통영,2012-1-22,7184.6,6203.88,NaN,NaN,2012,1,22,2012-1
2015,통영,2012-1-23,4285.3,5748.09,NaN,NaN,2012,1,23,2012-1
2016,통영,2012-1-24,3321.0,5890.19,NaN,NaN,2012,1,24,2012-1
2017,통영,2012-1-25,4914.7,6134.34,NaN,NaN,2012,1,25,2012-1
2018,통영,2012-1-26,6333.0,5696.91,NaN,NaN,2012,1,26,2012-1
2019,통영,2012-1-27,5667.0,5529.81,NaN,NaN,2012,1,27,2012-1
2020,통영,2012-1-29,6033.5,4985.71,NaN,NaN,2012,1,29,2012-1
2021,통영,2012-1-30,2124.6,5812.28,NaN,NaN,2012,1,30,2012-1
2022,통영,2012-1-31,5929.1,5630.45,NaN,NaN,2012,1,31,2012-1
2303,통영,2013-1-01,1189.6,5548.40,NaN,NaN,2013,1,1,2013-1
2304,통영,2013-1-02,1684.1,5178.06,NaN,NaN,2013,1,2,2013-1
2305,통영,2013-1-03,1280.5,5806.64,NaN,NaN,2013,1,3,2013-1
2306,통영,2013-1-04,1831.3,5597.19,NaN,NaN,2013,1,4,2013-1
2307,통영,2013-1-05,2133.6,4625.95,NaN,NaN,2013,1,5,2013-1
2308,통영,2013-1-07,1837.5,4742.16,NaN,NaN,2013,1,7,2013-1
2309,통영,2013-1-08,1316.2,5952.35,NaN,NaN,2013,1,8,2013-1
2310,통영,2013-1-09,1658.6,7175.04,NaN,NaN,2013,1,9,2013-1
2311,통영,2013-1-10,1570.5,6609.67,NaN,NaN,2013,1,10,2013-1
2312,통영,2013-1-11,1823.3,6602.66,NaN,NaN,2013,1,11,2013-1
2313,통영,2013-1-12,2193.0,7325.94,NaN,NaN,2013,1,12,2013-1
2314,통영,2013-1-14,2677.2,7262.64,NaN,NaN,2013,1,14,2013-1
2315,통영,2013-1-15,3335.0,7533.84,NaN,NaN,2013,1,15,2013-1
2316,통영,2013-1-16,3067.4,6823.48,NaN,NaN,2013,1,16,2013-1
2317,통영,2013-1-17,2849.9,6452.18,NaN,NaN,2013,1,17,2013-1
2318,통영,2013-1-18,2691.3,7122.29,NaN,NaN,2013,1,18,2013-1
2319,통영,2013-1-19,3845.5,7161.96,NaN,NaN,2013,1,19,2013-1
2320,통영,2013-1-21,3620.5,7550.01,NaN,NaN,2013,1,21,2013-1
2321,통영,2013-1-22,2803.6,7591.61,NaN,NaN,2013,1,22,2013-1
2322,통영,2013-1-23,3534.3,7251.78,NaN,NaN,2013,1,23,2013-1
2323,통영,2013-1-24,4811.5,6713.28,NaN,NaN,2013,1,24,2013-1
2324,통영,2013-1-25,2907.7,7204.90,NaN,NaN,2013,1,25,2013-1
2325,통영,2013-1-26,4624.8,7251.92,NaN,NaN,2013,1,26,2013-1
2326,통영,2013-1-28,4883.1,7176.97,NaN,NaN,2013,1,28,2013-1
2327,통영,2013-1-29,2970.8,7277.22,NaN,NaN,2013,1,29,2013-1
2328,통영,2013-1-30,3214.5,7318.42,NaN,NaN,2013,1,30,2013-1
2329,통영,2013-1-31,2691.5,7672.16,NaN,NaN,2013,1,31,2013-1
2608,통영,2014-1-01,828.3,8984.75,NaN,NaN,2014,1,1,2014-1
2609,통영,2014-1-02,850.8,10109.80,NaN,NaN,2014,1,2,2014-1
2610,통영,2014-1-03,992.7,10391.01,NaN,NaN,2014,1,3,2014-1
2611,통영,2014-1-04,965.9,11462.14,NaN,NaN,2014,1,4,2014-1
2612,통영,2014-1-06,1116.0,11060.15,NaN,NaN,2014,1,6,2014-1
2613,통영,2014-1-07,1408.7,9974.44,NaN,NaN,2014,1,7,2014-1
2614,통영,2014-1-08,1745.1,9552.87,NaN,NaN,2014,1,8,2014-1
2615,통영,2014-1-09,1228.3,9624.05,NaN,NaN,2014,1,9,2014-1
2616,통영,2014-1-10,1544.8,8789.44,NaN,NaN,2014,1,10,2014-1
2617,통영,2014-1-11,1199.9,9442.03,NaN,NaN,2014,1,11,2014-1
2618,통영,2014-1-13,1720.3,8363.87,NaN,NaN,2014,1,13,2014-1
2619,통영,2014-1-14,1147.2,9376.38,NaN,NaN,2014,1,14,2014-1
2620,통영,2014-1-15,1677.6,9334.43,NaN,NaN,2014,1,15,2014-1
2621,통영,2014-1-16,2161.8,9151.62,NaN,NaN,2014,1,16,2014-1
2622,통영,2014-1-17,2351.0,8531.07,NaN,NaN,2014,1,17,2014-1
2623,통영,2014-1-18,3395.4,8369.33,NaN,NaN,2014,1,18,2014-1
2624,통영,2014-1-20,2726.9,8563.60,NaN,NaN,2014,1,20,2014-1
2625,통영,2014-1-21,2730.0,7809.97,NaN,NaN,2014,1,21,2014-1
2626,통영,2014-1-22,1479.8,8230.77,NaN,NaN,2014,1,22,2014-1
2627,통영,2014-1-23,2491.4,6769.87,NaN,NaN,2014,1,23,2014-1
2628,통영,2014-1-24,2467.7,7052.20,NaN,NaN,2014,1,24,2014-1
2629,통영,2014-1-25,2573.9,6635.77,NaN,NaN,2014,1,25,2014-1
2630,통영,2014-1-27,2982.8,8265.97,NaN,NaN,2014,1,27,2014-1
2631,통영,2014-1-28,2785.3,7595.04,NaN,NaN,2014,1,28,2014-1
2632,통영,2014-1-29,3071.5,8290.35,NaN,NaN,2014,1,29,2014-1
2633,통영,2014-1-30,2968.3,8172.08,NaN,NaN,2014,1,30,2014-1
2634,통영,2014-1-31,3205.8,8874.15,NaN,NaN,2014,1,31,2014-1
2913,통영,2015-1-01,630.1,9232.48,NaN,NaN,2015,1,1,2015-1
2914,통영,2015-1-02,435.6,11219.29,NaN,NaN,2015,1,2,2015-1
2915,통영,2015-1-03,459.3,12913.44,NaN,NaN,2015,1,3,2015-1
2916,통영,2015-1-05,1076.3,12140.29,NaN,NaN,2015,1,5,2015-1
2917,통영,2015-1-06,801.4,11516.18,NaN,NaN,2015,1,6,2015-1
2918,통영,2015-1-07,888.6,10123.62,NaN,NaN,2015,1,7,2015-1
2919,통영,2015-1-08,832.3,9951.98,NaN,NaN,2015,1,8,2015-1
2920,통영,2015-1-09,855.9,10104.88,NaN,NaN,2015,1,9,2015-1
2921,통영,2015-1-10,701.9,10638.46,NaN,NaN,2015,1,10,2015-1
2922,통영,2015-1-12,1180.8,10470.14,NaN,NaN,2015,1,12,2015-1
2923,통영,2015-1-13,1001.8,10794.12,NaN,NaN,2015,1,13,2015-1
2924,통영,2015-1-14,1334.0,9992.22,NaN,NaN,2015,1,14,2015-1
2925,통영,2015-1-15,1079.4,10582.05,NaN,NaN,2015,1,15,2015-1
2926,통영,2015-1-16,968.3,9558.61,NaN,NaN,2015,1,16,2015-1
2927,통영,2015-1-17,981.2,9347.98,NaN,NaN,2015,1,17,2015-1
2928,통영,2015-1-19,1489.2,7826.25,NaN,NaN,2015,1,19,2015-1
2929,통영,2015-1-20,940.0,8434.63,NaN,NaN,2015,1,20,2015-1
2930,통영,2015-1-21,1056.4,8181.79,NaN,NaN,2015,1,21,2015-1
2931,통영,2015-1-22,922.9,9098.69,NaN,NaN,2015,1,22,2015-1
2932,통영,2015-1-23,1383.8,8793.33,NaN,NaN,2015,1,23,2015-1
2933,통영,2015-1-24,1366.8,9056.25,NaN,NaN,2015,1,24,2015-1
2934,통영,2015-1-26,1841.5,8743.12,NaN,NaN,2015,1,26,2015-1
2935,통영,2015-1-27,1278.9,8811.89,NaN,NaN,2015,1,27,2015-1
2936,통영,2015-1-28,1498.6,10006.02,NaN,NaN,2015,1,28,2015-1
2937,통영,2015-1-29,2459.2,9225.25,NaN,NaN,2015,1,29,2015-1
2938,통영,2015-1-30,2547.3,8948.30,NaN,NaN,2015,1,30,2015-1
2939,통영,2015-1-31,2990.7,8744.72,NaN,NaN,2015,1,31,2015-1
3217,통영,2016-1-01,534.1,6414.54,NaN,NaN,2016,1,1,2016-1
3218,통영,2016-1-03,458.9,7615.38,NaN,NaN,2016,1,3,2016-1
3219,통영,2016-1-04,590.4,6718.18,NaN,NaN,2016,1,4,2016-1
3220,통영,2016-1-05,474.1,6837.92,NaN,NaN,2016,1,5,2016-1
3221,통영,2016-1-06,397.3,7964.24,NaN,NaN,2016,1,6,2016-1
3222,통영,2016-1-07,637.5,8536.02,NaN,NaN,2016,1,7,2016-1
3223,통영,2016-1-08,495.5,11762.82,NaN,NaN,2016,1,8,2016-1
3224,통영,2016-1-10,131.2,14654.76,NaN,NaN,2016,1,10,2016-1
3225,통영,2016-1-11,1073.1,10497.25,NaN,NaN,2016,1,11,2016-1
3226,통영,2016-1-12,769.3,11042.08,NaN,NaN,2016,1,12,2016-1
3227,통영,2016-1-13,630.3,12519.37,NaN,NaN,2016,1,13,2016-1
3228,통영,2016-1-14,688.2,13019.64,NaN,NaN,2016,1,14,2016-1
3229,통영,2016-1-15,1164.7,10449.27,NaN,NaN,2016,1,15,2016-1
3230,통영,2016-1-17,1794.0,8522.89,NaN,NaN,2016,1,17,2016-1
3231,통영,2016-1-18,889.5,8596.58,NaN,NaN,2016,1,18,2016-1
3232,통영,2016-1-19,1002.2,8502.57,NaN,NaN,2016,1,19,2016-1
3233,통영,2016-1-20,1159.6,8434.80,NaN,NaN,2016,1,20,2016-1
3234,통영,2016-1-21,1195.3,7373.26,NaN,NaN,2016,1,21,2016-1
3235,통영,2016-1-22,1640.5,6281.16,NaN,NaN,2016,1,22,2016-1
3236,통영,2016-1-24,1664.4,6531.95,NaN,NaN,2016,1,24,2016-1
3237,통영,2016-1-25,1926.1,5733.97,NaN,NaN,2016,1,25,2016-1
3238,통영,2016-1-26,1431.0,6340.19,NaN,NaN,2016,1,26,2016-1
3239,통영,2016-1-27,1541.3,7615.17,NaN,NaN,2016,1,27,2016-1
3240,통영,2016-1-28,1934.4,8551.17,NaN,NaN,2016,1,28,2016-1
3241,통영,2016-1-29,2448.5,9667.98,NaN,NaN,2016,1,29,2016-1
3242,통영,2016-1-31,4072.5,7751.90,NaN,NaN,2016,1,31,2016-1
3526,통영,2017-1-02,1551.0,11713.71,NaN,NaN,2017,1,2,2017-1
3527,통영,2017-1-09,2495.7,6930.28,NaN,NaN,2017,1,9,2017-1
3528,통영,2017-1-10,797.2,7480.78,NaN,NaN,2017,1,10,2017-1
3529,통영,2017-1-11,995.8,5382.04,NaN,NaN,2017,1,11,2017-1
3530,통영,2017-1-12,490.9,5501.65,NaN,NaN,2017,1,12,2017-1
3531,통영,2017-1-13,746.0,6383.61,NaN,NaN,2017,1,13,2017-1
3532,통영,2017-1-14,1638.1,8358.81,NaN,NaN,2017,1,14,2017-1
3533,통영,2017-1-16,1690.2,7577.61,NaN,NaN,2017,1,16,2017-1
3534,통영,2017-1-17,1184.4,7696.66,NaN,NaN,2017,1,17,2017-1
3535,통영,2017-1-18,1619.3,9658.96,NaN,NaN,2017,1,18,2017-1
3536,통영,2017-1-19,1737.8,9544.88,NaN,NaN,2017,1,19,2017-1
3537,통영,2017-1-20,2113.2,9255.70,NaN,NaN,2017,1,20,2017-1
3538,통영,2017-1-21,3582.1,10255.25,NaN,NaN,2017,1,21,2017-1
3539,통영,2017-1-23,3404.0,9318.73,NaN,NaN,2017,1,23,2017-1
3540,통영,2017-1-24,2598.4,8205.10,NaN,NaN,2017,1,24,2017-1
3541,통영,2017-1-25,3048.7,7106.16,NaN,NaN,2017,1,25,2017-1
3542,통영,2017-1-26,2779.8,6764.87,NaN,NaN,2017,1,26,2017-1
3543,통영,2017-1-27,1995.0,7175.27,NaN,NaN,2017,1,27,2017-1
3544,통영,2017-1-28,2416.4,7712.55,NaN,NaN,2017,1,28,2017-1
3545,통영,2017-1-30,3979.6,6110.76,NaN,NaN,2017,1,30,2017-1
3546,통영,2017-1-31,2187.1,6395.15,NaN,NaN,2017,1,31,2017-1
3826,통영,2018-1-01,666.8,7644.19,NaN,NaN,2018,1,1,2018-1
3827,통영,2018-1-02,646.7,8721.48,NaN,NaN,2018,1,2,2018-1
3828,통영,2018-1-03,881.3,8046.04,NaN,NaN,2018,1,3,2018-1
3829,통영,2018-1-04,908.0,7481.77,NaN,NaN,2018,1,4,2018-1
3830,통영,2018-1-05,952.7,7146.20,NaN,NaN,2018,1,5,2018-1
3831,통영,2018-1-06,828.5,6366.78,NaN,NaN,2018,1,6,2018-1
3832,통영,2018-1-08,720.3,7603.89,NaN,NaN,2018,1,8,2018-1
3833,통영,2018-1-09,532.8,8569.70,NaN,NaN,2018,1,9,2018-1
3834,통영,2018-1-10,919.4,9600.95,NaN,NaN,2018,1,10,2018-1
3835,통영,2018-1-11,1043.5,8704.87,NaN,NaN,2018,1,11,2018-1
3836,통영,2018-1-12,1181.9,9473.62,NaN,NaN,2018,1,12,2018-1
3837,통영,2018-1-13,978.1,12109.44,NaN,NaN,2018,1,13,2018-1
3838,통영,2018-1-15,771.9,14105.46,NaN,NaN,2018,1,15,2018-1
3839,통영,2018-1-16,88.0,14080.26,NaN,NaN,2018,1,16,2018-1
3840,통영,2018-1-17,1259.0,12399.34,NaN,NaN,2018,1,17,2018-1
3841,통영,2018-1-18,1455.8,10778.54,NaN,NaN,2018,1,18,2018-1
3842,통영,2018-1-19,1183.8,10881.99,NaN,NaN,2018,1,19,2018-1
3843,통영,2018-1-20,1365.9,10939.47,NaN,NaN,2018,1,20,2018-1
3844,통영,2018-1-22,1543.7,11683.23,NaN,NaN,2018,1,22,2018-1
3845,통영,2018-1-23,2120.4,9620.36,NaN,NaN,2018,1,23,2018-1
3846,통영,2018-1-24,2332.1,8247.17,NaN,NaN,2018,1,24,2018-1
3847,통영,2018-1-25,2047.9,7366.86,NaN,NaN,2018,1,25,2018-1
3848,통영,2018-1-26,2104.4,7269.81,NaN,NaN,2018,1,26,2018-1
3849,통영,2018-1-27,2413.6,7568.14,NaN,NaN,2018,1,27,2018-1
3850,통영,2018-1-29,2046.4,7406.35,NaN,NaN,2018,1,29,2018-1
3851,통영,2018-1-30,2026.0,7914.12,NaN,NaN,2018,1,30,2018-1
3852,통영,2018-1-31,2025.9,8374.27,NaN,NaN,2018,1,31,2018-1
4133,통영,2019-1-01,415.6,8573.96,NaN,NaN,2019,1,1,2019-1
4134,통영,2019-1-02,436.3,8669.53,NaN,NaN,2019,1,2,2019-1
4135,통영,2019-1-03,485.7,8472.56,NaN,NaN,2019,1,3,2019-1
4136,통영,2019-1-04,600.0,8496.66,NaN,NaN,2019,1,4,2019-1
4137,통영,2019-1-05,719.7,7475.15,NaN,NaN,2019,1,5,2019-1
4138,통영,2019-1-07,462.1,8110.59,NaN,NaN,2019,1,7,2019-1
4139,통영,2019-1-08,534.6,9042.27,NaN,NaN,2019,1,8,2019-1
4140,통영,2019-1-09,563.3,9679.74,NaN,NaN,2019,1,9,2019-1
4141,통영,2019-1-10,651.6,10233.23,NaN,NaN,2019,1,10,2019-1
4142,통영,2019-1-11,807.6,10719.41,NaN,NaN,2019,1,11,2019-1
4143,통영,2019-1-12,909.4,10582.40,NaN,NaN,2019,1,12,2019-1
4144,통영,2019-1-14,1144.8,10252.83,NaN,NaN,2019,1,14,2019-1

In [16]:
data.isnull().sum()

from            0
date            0
qty             0
1kg price       0
temp         1029
DO_test       963
year            0
month           0
day             0
date2           0
dtype: int64

In [15]:
grouped.isnull().sum()

qty            0
1kg price      0
temp         386
dtype: int64

In [19]:
test = pd.read_csv('./final/the_end.csv')

In [21]:
test.isnull().sum()

Unnamed: 0       0
from             0
date             0
qty              0
1kg price        0
temp          1029
DO_test        963
dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x = grouped[['qty','temp']]
y = grouped['1kg price']

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2)

In [14]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').